### Problem14: pandas apply with lambda

In [5]:
import datetime

import pandas as pd

In [6]:
df = pd.read_csv('data/order_list_with_dup.csv')

##### Step 1: Make function that calculate the discount
* ###### Function arguments are order_date(datetime.date) and price(int)
* ###### Use the round function to return discount value as an integer
* ###### The discount rate for orders in 2021 is 20%.
* ###### The discount rate for orders in 2022 is 5%.

In [24]:
def cal_discount() -> int:
    return 0

##### Step 2: Set the dtype of order_date as Datetime
* ###### Use the to_datetime function in pandas

In [26]:
df["order_date"] = ""
df.dtypes

shop_id                   int64
goods_no                  int64
goods_nm                 object
customer_name            object
order_date       datetime64[ns]
price                     int64
discount                float64
paid_price              float64
dtype: object

##### Step 3: Get discount from price
* ###### Use the function that made in step1

In [27]:
df["discount"] = ""
df

,shop_id,goods_no,goods_nm,customer_name,order_date,price,discount,paid_price
0,163,183058,Prada Coat,Mike,2021-12-26,674900,134980.0,539920.0
1,104,183028,Gucci Accessory,Stark,2022-01-15,102870,5144.0,97726.5
2,181,183003,Gucci Necklace,Mike,2022-01-07,576900,28845.0,548055.0
3,136,183039,Ferragamo Necklace,Burry,2022-01-08,683100,34155.0,648945.0
4,126,183005,Thom Browne Necklace,jane,2022-01-04,724140,36207.0,687933.0
5,146,183042,Thom Browne T-Shirts,Stark,2021-12-29,708960,141792.0,567168.0
6,24,183038,Ferragamo Pants,Alex,2022-01-06,864780,43239.0,821541.0
7,154,183012,Bottega Veneta Shirts,Burry,2022-01-04,599860,29993.0,569867.0
8,47,183052,Thom Browne T-Shirts,Stark,2021-12-26,321080,64216.0,256864.0
9,163,183010,Prada Necklace,Tony,2022-01-09,792990,39650.0,753340.5
10,126,183005,Thom Browne Necklace,jane,2022-01-04,724140,36207.0,687933.0
11,62,183017,Prada Coat,Mike,2021-12-28,625820,125164.0,500656.0
12,51,183054,Prada T-Shirts,jane,2022-01-04,566100,28305.0,537795.0
13,104,183024,Gucci T-Shirts,Tony,2021-12-26,420640,84128.0,336512.0
14,104,183024,Gucci T-Shirts,jane,2022-01-02,425420,21271.0,404149.0
15,52,183034,Thom Browne Shirts,Alex,2022-01-15,615700,30785.0,584915.0
16,86,183025,Bottega Veneta Pants,Stark,2021-12-28,785680,157136.0,628544.0
17,52,183034,Thom Browne Shirts,Mike,2022-01-09,563300,28165.0,535135.0
18,12,183016,Bottega Veneta Shirts,Stark,2021-12-29,477960,95592.0,382368.0
19,37,183001,Thom Browne Pants,jane,2021-12-30,375830,75166.0,300664.0
20,62,183017,Prada Coat,Mike,2021-12-28,625820,125164.0,500656.0
21,17,183035,Ferragamo Pants,Alex,2022-01-05,928720,46436.0,882284.0
22,6,183051,Bottega Veneta Pants,Burry,2022-01-15,280000,14000.0,266000.0
23,104,183024,Gucci T-Shirts,jane,2021-12-30,401520,80304.0,321216.0
24,85,183018,Thom Browne Shirts,jane,2022-01-01,749430,37472.0,711958.5
25,154,183012,Bottega Veneta Shirts,Tony,2022-01-05,579640,28982.0,550658.0
26,6,183051,Bottega Veneta Pants,Burry,2022-01-06,332500,16625.0,315875.0
27,190,183023,Thom Browne Shirts,jane,2021-12-31,829010,165802.0,663208.0
28,154,183012,Bottega Veneta Shirts,Burry,2022-01-04,599860,29993.0,569867.0
29,85,183018,Thom Browne Shirts,jane,2022-01-01,749430,37472.0,711958.5
30,126,183005,Thom Browne Necklace,jane,2022-01-04,724140,36207.0,687933.0

##### Step 4: Calculate paid_price from price and discount

In [28]:
df["paid_price"] = ""
df

,shop_id,goods_no,goods_nm,customer_name,order_date,price,discount,paid_price
0,163,183058,Prada Coat,Mike,2021-12-26,674900,134980.0,539920.0
1,104,183028,Gucci Accessory,Stark,2022-01-15,102870,5144.0,97726.0
2,181,183003,Gucci Necklace,Mike,2022-01-07,576900,28845.0,548055.0
3,136,183039,Ferragamo Necklace,Burry,2022-01-08,683100,34155.0,648945.0
4,126,183005,Thom Browne Necklace,jane,2022-01-04,724140,36207.0,687933.0
5,146,183042,Thom Browne T-Shirts,Stark,2021-12-29,708960,141792.0,567168.0
6,24,183038,Ferragamo Pants,Alex,2022-01-06,864780,43239.0,821541.0
7,154,183012,Bottega Veneta Shirts,Burry,2022-01-04,599860,29993.0,569867.0
8,47,183052,Thom Browne T-Shirts,Stark,2021-12-26,321080,64216.0,256864.0
9,163,183010,Prada Necklace,Tony,2022-01-09,792990,39650.0,753340.0
10,126,183005,Thom Browne Necklace,jane,2022-01-04,724140,36207.0,687933.0
11,62,183017,Prada Coat,Mike,2021-12-28,625820,125164.0,500656.0
12,51,183054,Prada T-Shirts,jane,2022-01-04,566100,28305.0,537795.0
13,104,183024,Gucci T-Shirts,Tony,2021-12-26,420640,84128.0,336512.0
14,104,183024,Gucci T-Shirts,jane,2022-01-02,425420,21271.0,404149.0
15,52,183034,Thom Browne Shirts,Alex,2022-01-15,615700,30785.0,584915.0
16,86,183025,Bottega Veneta Pants,Stark,2021-12-28,785680,157136.0,628544.0
17,52,183034,Thom Browne Shirts,Mike,2022-01-09,563300,28165.0,535135.0
18,12,183016,Bottega Veneta Shirts,Stark,2021-12-29,477960,95592.0,382368.0
19,37,183001,Thom Browne Pants,jane,2021-12-30,375830,75166.0,300664.0
20,62,183017,Prada Coat,Mike,2021-12-28,625820,125164.0,500656.0
21,17,183035,Ferragamo Pants,Alex,2022-01-05,928720,46436.0,882284.0
22,6,183051,Bottega Veneta Pants,Burry,2022-01-15,280000,14000.0,266000.0
23,104,183024,Gucci T-Shirts,jane,2021-12-30,401520,80304.0,321216.0
24,85,183018,Thom Browne Shirts,jane,2022-01-01,749430,37472.0,711958.0
25,154,183012,Bottega Veneta Shirts,Tony,2022-01-05,579640,28982.0,550658.0
26,6,183051,Bottega Veneta Pants,Burry,2022-01-06,332500,16625.0,315875.0
27,190,183023,Thom Browne Shirts,jane,2021-12-31,829010,165802.0,663208.0
28,154,183012,Bottega Veneta Shirts,Burry,2022-01-04,599860,29993.0,569867.0
29,85,183018,Thom Browne Shirts,jane,2022-01-01,749430,37472.0,711958.0
30,126,183005,Thom Browne Necklace,jane,2022-01-04,724140,36207.0,687933.0

##### Step 5: Get total paid_price and average paid_price of each customer

In [29]:
agg_data = ""
agg_data

               total_price      avg_price
customer_name
Alex             2288740.0  762913.333333
Burry            2370554.0  474110.800000
Mike             2624422.0  524884.400000
Stark            1932670.0  386534.000000
Tony             1640510.0  546836.666667
jane             5714747.0  571474.700000