### Problem12: pandas query

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('./data/user_data.csv', index_col=0)

##### Step 1: Find the number of user which age > 30 or age < 20 with query

In [4]:
result = df.query('age > 30 or age < 20')
result

    gender       name  age                                   job country
id
6   Female      Emily   35          Physical Therapist Assistant      KR
8     Male      Mateo   33              Interpreter & Translator      JP
10  Female     Olivia   19              Interpreter & Translator      KR
15  Female        Mia   19                   Computer Programmer      FR
16             Julian   40                   Mechanical Engineer      KR
17  Female     Evelyn   16                Database Administrator     USA
18               Zoey   37                            IT Manager     USA
20    Male      Henry   17                   School Psychologist      KR
22    Male   Benjamin   38                   Mechanical Engineer      FR
24    Male     Elijah   35              Interpreter & Translator      KR
25       -      Riley   33                    Physical Therapist      KR
26  Female      Sofia   19          Physical Therapist Assistant      FR
27    Male       Liam   37                   Computer Programmer      KR
28  Female     Sophia   36                Occupational Therapist      FR
32  Female       Emma   37                Database Administrator      FR
33  Female   Isabella   17                   Computer Programmer      KR
34  Female  Elizabeth   32                          Veterinarian      KR
37  Female      Avery   35                      Registered Nurse      JP
38    Male     Oliver   15                Occupational Therapist     USA
39    Male      James   40                    Software Developer      JP
43  Female     Evelyn   39              Interpreter & Translator     USA
44    Male       Noah   38                            IT Manager      JP
45  Female    Abigail   38                      Registered Nurse      JP
46    Male    Jackson   31              Interpreter & Translator     USA
47    Male   Benjamin   33                            Pharmacist      KR
48  Female     Sophia   16                    Physical Therapist      KR
49    Male      Ethan   19                            IT Manager      JP
50  Female     Amelia   33              Interpreter & Translator      FR
51    Male    Michael   39              Computer Systems Analyst      FR
52    Male       Levi   38                    Software Developer      JP
53    Male      Henry   31                   Computer Programmer      FR
54  Female        Mia   34                        Epidemiologist     USA
55  Female       Ella   36                Database Administrator      KR
56    Male      Mateo   33                    Software Developer      KR
57    Male      Mateo   35  Veterinary Technologist & Technician      JP
58    Male      Ethan   40                    Physical Therapist      FR
59    Male      Jacob   39                             Physician     USA
66    Male     Oliver   31                   School Psychologist      FR
67             Aurora   17          Physical Therapist Assistant      FR
68  Female     Camila   37                    Software Developer      FR
71    Male    Michael   39                        Epidemiologist      JP
75       -       Lily   39                Occupational Therapist      FR
76  Female       Mila   39                            IT Manager      JP
77    Male    William   17              Computer Systems Analyst      FR
78  Female    Abigail   31              Interpreter & Translator     USA
80    Male       Noah   38                   School Psychologist      FR
81  Female     Harper   18          Physical Therapist Assistant      JP
82    Male      James   32              Interpreter & Translator      KR
83    Male      James   35                    Software Developer     USA
87    Male  Sebastian   19                          Veterinarian     USA
89  Female      Sofia   17                               Dentist      KR
90    Male      Mason   31                    Software Developer     USA
93  Female     Evelyn   38              Interpreter & Translator      FR
94    Male    William   34                    Physical Therapist      FR
95       -      Riley   39                      Dental Hygienist      JP
97  Female     Amelia   38                         Web Developer     USA
98  Female        Mia   17                   School Psychologist      KR
99  Female      Avery   35                             Physician      JP

##### Step 2: Find the number of user which job is "Web Developer" or "Computer Programmer" with query

In [9]:
result = df.query('job in ["Web Developer", "Computer Programmer"]')
result

    gender       name  age                  job country
id
14    Male     Oliver   21        Web Developer      FR
15  Female        Mia   19  Computer Programmer      FR
21    Male    William   28  Computer Programmer     USA
27    Male       Liam   37  Computer Programmer      KR
33  Female   Isabella   17  Computer Programmer      KR
36    Male  Alexander   25        Web Developer     USA
53    Male      Henry   31  Computer Programmer      FR
85    Male  Sebastian   23        Web Developer      JP
97  Female     Amelia   38        Web Developer     USA

##### Step 3: Find the number of user which the last character of name is m

In [8]:
filtered_user = df.query('name.str.endswith("m")', engine="python")
print("cnt:", len(filtered_user))

cnt: 7

##### Step 4: Find the number of user for each age between 20 and 30 with query & variable

In [12]:
for i in range(20, 30):
    result = df.query('age == @i')
    print(f"number of user that age is {i}: {len(result)}")

number of user that age is 20: 2
number of user that age is 21: 8
number of user that age is 22: 2
number of user that age is 23: 7
number of user that age is 24: 2
number of user that age is 25: 4
number of user that age is 26: 3
number of user that age is 27: 4
number of user that age is 28: 3
number of user that age is 29: 5

##### Step 5: Find the number of user which name contain "am" with query & regex

In [14]:
filtered_user = df.query('name.str.match(".*am.*")')
print(filtered_user)
print("cnt:", len(filtered_user))

    gender      name  age                           job country
id
1     Male     James   27  Physical Therapist Assistant     USA
5     Male      Liam   27                     Physician     USA
21    Male   William   28           Computer Programmer     USA
22    Male  Benjamin   38           Mechanical Engineer      FR
27    Male      Liam   37           Computer Programmer      KR
30    Male      Liam   21            Physical Therapist     USA
39    Male     James   40            Software Developer      JP
40    Male      Liam   26                     Physician      JP
47    Male  Benjamin   33                    Pharmacist      KR
68  Female    Camila   37            Software Developer      FR
77    Male   William   17      Computer Systems Analyst      FR
79  Female    Camila   24           School Psychologist      FR
82    Male     James   32      Interpreter & Translator      KR
83    Male     James   35            Software Developer     USA
94    Male   William   34            Physical Therapist      FR
cnt: 15